<div class="main-container" style="background: linear-gradient(180deg, #020202, #0D2818);">
  <!-- Header com a Logo -->
  <ion-header>
    <ion-toolbar class="header-toolbar">
      <img src="../../assets/icarologo.png" alt="Logo" class="logo">
    </ion-toolbar>
  </ion-header>

  <!-- Conteúdo Principal -->
  <ion-content class="ion-content">
    <div class="home-content">
      <h1>Bem-vindo ao Team Icaro</h1>
      <p>Seu treino e dieta personalizados em um único lugar.</p>
    </div>
  </ion-content>
</div>
