<div class="navbar">
  <!-- Botão Home -->
  <ion-button class="navbar-item" (click)="navigateTo('/home')">
    <ion-icon slot="icon-only" name="home-outline"></ion-icon>
  </ion-button>

  <!-- Botão Treino -->
  <ion-button class="navbar-item" (click)="navigateTo('/workout')">
    <ion-icon slot="icon-only" name="barbell-outline"></ion-icon>
  </ion-button>

  <!-- Botão Dieta -->
  <ion-button class="navbar-item" (click)="navigateTo('/dieta')">
    <ion-icon slot="icon-only" name="fitness-outline"></ion-icon>
  </ion-button>

  <!-- Botão Perfil -->
  <ion-button class="navbar-item" (click)="navigateTo('/perfil')">
    <ion-icon slot="icon-only" name="person-outline"></ion-icon>
  </ion-button>
</div>
