:root {
    --ion-color-primary: #7f5af0; /* Cor principal (Botões, Destaques) */
    --ion-color-secondary: #2cb67d; /* Botão secundário */
    --ion-color-tertiary: #72757e; /* Elementos secundários */
  
    --ion-background-color: #16161a; /* Cor de fundo */
    --ion-text-color: #ffffff; /* Texto principal */
    --ion-color-medium: #94a1b2; /* Texto secundário */
  
    --ion-color-dark: #010101; /* Cor de destaque escuro */
    --ion-color-light: #ffffff; /* Texto claro */
  
    /* Cores personalizadas para botões e cartões */
    --app-card-background: #010101;
    --app-button-background: #7f5af0;
    --app-button-text: #ffffff;
  }
  