/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

/**
 * Ionic Dark Mode
 * -----------------------------------------------------
 * For more info, please see:
 * https://ionicframework.com/docs/theming/dark-mode
 */

/* @import "@ionic/angular/css/palettes/dark.always.css"; */
/* @import "@ionic/angular/css/palettes/dark.class.css"; */
@import '@ionic/angular/css/palettes/dark.system.css';
/* Remove a barra de rolagem no corpo */
body, ion-content {
  font-family: 'Kanit', sans-serif; /* Substitua 'Roboto' pela fonte que escolheu */
  font-weight: 500;
}

body {
    overflow: hidden; /* Impede a rolagem no corpo */
  }
  
  /* Ou para elementos específicos */
  .elemento-sem-scroll {
    overflow: hidden; /* Remove a barra de rolagem */
  }
  
  /* Se você quer que o conteúdo ainda seja rolável */
  .elemento-com-scroll-escondido {
    overflow: auto;
    scrollbar-width: none; /* Esconde scrollbar no Firefox */
    -ms-overflow-style: none; /* Esconde scrollbar no IE/Edge */
  }
  
  .elemento-com-scroll-escondido::-webkit-scrollbar {
    display: none; /* Esconde scrollbar no Chrome/Safari */
  }

  /* Animações globais para transição entre telas */
@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(50%);
  }
  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: translateX(0);
  }
  to {
    opacity: 0;
    transform: translateX(-50%);
  }
}

.page-enter {
  animation: fadeIn 0.5s ease-in-out forwards;
}

.page-leave {
  animation: fadeOut 0.5s ease-in-out forwards;
}

  