.main-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(180deg, #020202, #0D2818); /* Gradiente */
  color: #16DB65; /* Verde claro para textos principais */
  padding: 10px;
}
.swiper-container {
  width: 100%; /* Certifica que o slider ocupa toda a largura */
  height: 100px; /* Altura do slider */
}
.swiper-container {
  width: 100%;
  height: auto;
}

.swiper-wrapper {
  display: flex;
  align-items: center;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 70px; /* Ajusta o tamanho dos slides */
  height: 90px; /* Altura consistente para não parecer achatado */
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  backdrop-filter: blur(10px); /* Desfoca o fundo */
  -webkit-backdrop-filter: blur(10px); /* Desfoca o fundo no Safari */
  color: #16DB65; /* Verde claro */
  border-radius: 10px;
  text-align: center;
  cursor: pointer;
  transition: background 0.3s;
  margin: 0 5px; /* Espaçamento entre os slides */

  &.selected {
    background: #16DB65; /* Verde vívido */
    color: #020202; /* Texto preto */
  }

  .day {
    font-size: 0.9rem;
  }

  .date {
    font-size: 1.2rem;
    font-weight: bold;
  }
}

.calendar-slider {
  margin-bottom: 20px;
}


/* Botão "Iniciar Treino" */
.start-button {
  background: #058C42; /* Verde médio */
  color: #020202; /* Preto */
  border: none;
  border-radius: 10px;
  padding: 15px;
  margin: 20px auto;
  font-size: 1.2rem;
  cursor: pointer;
  text-align: center;
  transition: background 0.3s;

  &:hover {
    background: #16DB65; /* Verde vívido */
  }
}

/* Lista de Exercícios */
.workout-list {
  flex: 1;
  overflow-y: auto;

  .workout-item {
    background: #04471C; /* Verde médio */
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #058C42; /* Verde claro */
    }

    h3 {
      font-size: 1.2rem;
      margin-bottom: 5px;
      color: #16DB65; /* Verde vívido */
    }

    p {
      font-size: 0.9rem;
      color: #16DB65; /* Verde vívido */
    }
  }
}

/* Popup com Detalhes do Exercício */
.exercise-details {
  padding: 20px;

  h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #16DB65; /* Verde claro */
  }

  video {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
  }

  button {
    background: #058C42; /* Verde médio */
    color: #020202; /* Preto */
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s;

    &:hover {
      background: #16DB65; /* Verde vívido */
    }
  }
}
