<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Resumo do Treino</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <div id="confetti-container"></div>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Parabéns!</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <p>Você concluiu o seu treino com sucesso.</p>
      <ion-button expand="block" color="primary" routerLink="/home">
        Voltar para a Home
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
